save-exact=true
registry=https://ruffer.jfrog.io/artifactory/api/npm/npm-cdo-virtual/
CYPRESS_INSTALL_BINARY=https://ruffer.jfrog.io/artifactory/local-third-party-generic/cypress.zip
NODE_TLS_REJECT_UNAUTHORIZED=0
